h1 {
  color: blueviolet;
}
.container {
  max-width: 650px;
  margin: 45px auto;
  padding: 40px;
}
.weather-app-wrapper {
  border-radius: 10px;
  color: grey;
  border: 3px solid #dadde1;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: block;
  color: rgb(135, 135, 135);
}
